<strong>Olá , {{ provider_name }}</strong>
<p>You have an appointment cancelled. Please check the details:</p>
<p>
  <strong>Cliente: </strong>{{ user_name }} <br />
  <strong>Data: </strong>{{ appointment_date }} <br />
  <small>You now have clear schedule on this time</small>
</p>